<mat-card class="file-folder-card">
  <mat-card-header>
    <mat-card-title>Folder Name</mat-card-title>
    <mat-card-subtitle>2 Folders, 4 files</mat-card-subtitle>
    <span class="fill-remaining-space"></span>
    <mat-icon color="primary" class="file-folder-icon" inline="true" aria-label="icon">folder</mat-icon>
  </mat-card-header>
  <mat-card-actions >
    <button color="primary" mat-button>OPEN</button>
    <button color="primary" mat-button>SHARE</button>
    <button color="primary" mat-button>DELETE</button>
  </mat-card-actions>
</mat-card>
