<div class="file-folder-container">
  <mat-card *ngFor="let fileFolder of fileFolders;" class="file-folder-card">
    <mat-card-header>
      <mat-card-title>{{fileFolder.name}}</mat-card-title>
      <mat-card-subtitle *ngIf="fileFolder.isFolder">2 Folders, 4 files</mat-card-subtitle>
      <mat-card-subtitle *ngIf="!fileFolder.isFolder">{{fileFolder.dateAdded}}</mat-card-subtitle>
      <span class="fill-remaining-space"></span>
      <mat-icon *ngIf="fileFolder.isFolder" color="primary" class="file-folder-icon" inline="true" aria-label="icon">folder</mat-icon>
      <mat-icon *ngIf="!fileFolder.isFolder" color="primary" class="file-folder-icon" inline="true" aria-label="icon">article</mat-icon>
    </mat-card-header>
    <mat-card-actions >
      <button class="mat-button mat-primary" *ngIf="fileFolder.isFolder" (click)="openFolder(fileFolder.id)">OPEN</button>
      <button class="mat-button mat-primary" *ngIf="!fileFolder.isFolder" (click)="downloadFile(fileFolder.id)">VIEW</button>
      <button class="mat-button mat-primary" (click)="openShareDialog(fileFolder.id)">SHARE</button>
      <button class="mat-button mat-primary" (click)="deleteFileFolder(fileFolder.id)">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
