/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-deep-purple, 600, 500, 900);
$accent: mat-palette($mat-amber, A400, A300, A600);


.color-primary {
  color: mat-color($primary);
}

.color-accent {
  color: mat-color($accent);
}

.background-primary {
    background-color: mat-color($primary);
}

.background-accent {
    background-color: mat-color($accent);
}

html, body { height: 100%; }
body { margin: 0; font-family: sans-serif, "Helvetica Neue" ; overflow: hidden; }

.mat-drawer-backdrop{
    top:64px !important;
    height: calc(100% - 64px) !important;
}

.mat-sidenav-container {
    z-index: 4 !important;
}

.breadcrumbs {
    margin-left: 40px;
    margin-top: 20px;
    position: fixed;
}
.app-container {
    height: calc(100% - 64px) !important;
    width: 100%;
    // position: absolute;
    // top:64px;
    // left:0;
    // z-index: 1;
    margin-top: 20px;
    padding:40px
}

.app-container-full-width {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

#cdk-overlay-0 {
height:100%;
width:100%;
display: flex;
justify-content: center;
align-items: center;
}
