<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="navigation"
      [mode]="over"
      [opened]="false">
    <mat-toolbar class="user-info">
      <mat-icon class="side-nav-icon" aria-label="icon">face</mat-icon>
      <span class="side-nav-name">{{currentUser.name}}</span>
      <span class="side-nav-email">{{currentUser.email}}</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list class="side-nav-nav">
      <mat-list-item>
        <mat-icon class="side-nav-icon" aria-label="icon">folder</mat-icon>
        <a mat-list-item [routerLink]="['/home']" (click)="drawer.toggle();">My Files</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="side-nav-icon" aria-label="icon">folder_shared</mat-icon>
        <a mat-list-item [routerLink]="['/home']" 
          [queryParams]="{isSharing: true}"
          (click)="drawer.toggle();">Files I'm Sharing</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="side-nav-icon" aria-label="icon">folder_special</mat-icon>
        <a mat-list-item [routerLink]="['/home']" 
          [queryParams]="{isSharedWithUser: true}"
          (click)="drawer.toggle();">Files Shared With Me</a>
      </mat-list-item>
    </mat-nav-list>
    <span class="fill-remaining-space"></span>
    <mat-nav-list class="side-nav-actions">
      <mat-list-item>
        <mat-icon class="side-nav-icon" aria-label="icon">upgrade</mat-icon>
        <a mat-list-item (click)="openUploadDialog('file'); drawer.toggle();">Upload File</a>
      </mat-list-item>
      <mat-list-item (click)="logout()" >
        <mat-icon class="side-nav-icon" aria-label="icon">exit_to_app</mat-icon>
        <a mat-list-item href="#">Logout</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Welcome {{currentUser.name}}</span>
      <span class="fill-remaining-space"></span>
      <button
        type="button"
        mat-icon-button>
        <mat-icon aria-label="search icon">search</mat-icon>
      </button>
      <button
        type="button"
        (click)="logout()" 
        mat-icon-button>
        <mat-icon aria-label="logout icon">exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
