<input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1 *ngIf="isFolder" mat-dialog-title>Create Folder</h1>
  <h1 *ngIf="!isFolder" mat-dialog-title>Upload File</h1>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name" name="name">
    <mat-icon *ngIf="!isFolder" matSuffix color="primary" (click)="addFiles()" class="upload-file-icon" aria-label="icon">upgrade</mat-icon>
    <mat-hint *ngIf="!isFolder">Click Arrow to browse for file</mat-hint>
  </mat-form-field>

  <!-- This are the actions of the dialog, containing the primary and the cancel button-->
  <mat-dialog-actions class="actions">
    <button mat-button mat-dialog-close color="primary" (click)="closeDialog()">{{primaryButtonText}}</button>
    <button mat-button mat-dialog-close color="primary">Cancel</button>
  </mat-dialog-actions>
</div>